.DS_Store
unix_based/.DS_Store
vscode
/unix_based/staging_clients.bin

output
unix_based/client.bin
unix_based/output/main.dSYM/Contents/Resources/Relocations/aarch64/main.yml
unix_based/output/main.dSYM/Contents/Resources/DWARF/main
unix_based/output/main.dSYM/Contents/Resources/DWARF/main
unix_based/output/main.dSYM/Contents/Info.plist
unix_based/output/main
unix_based/output/admin_functions
